nb-layout-column {
  background: linear-gradient(to bottom, #3e9de5, #944db7);
}
nb-card {
  background-color: #d3e1f5;
  border-radius: 10px;
}
nb-card-body {
  justify-content: center;
  text-align: center;
}
h1 {
  color: #707070;
}
input {
  border-radius: 1em;
  height: 2em;
  width: 80%;
  color: #707070;
  border: #707070;
}
.GoogleLogin {
  display: flex;
  margin: auto;
  align-items: center;
  height: 2em;
  background-color: #ffffff;
  color: black;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0.25em 0.25em grey;
}
.GithubLogin {
  display: flex;
  margin: auto;
  align-items: center;
  height: 2em;
  background-color: #24292e;
  color: white;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0.25em 0.25em grey;
}
.login {
  background-color: white;
  color: #227ee8;
  border-color: #227ee8;
  border-width: 0.25em;
  border-radius: 2em;
}
.registration {
  color: #707070;
  background-color: white;
  border-width: 0.25em;
  border-radius: 2em;
}
