<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <h1>Registrieren</h1>
                <input type="text" nbInput placeholder="E-mail" id="mail">
                <br><br>
                <input type="text" nbInput placeholder="Passwort" id="password1">
                <br><br>
                <input type="text" nbInput placeholder="Passwort wiederholen" id="password2">
                <p></p>
                <button bnbutton class="GoogleLogin" (click)="loginWithGoogle()">
                    <img src="../../assets/img/google.svg" height="25em" width="25em"> Sign in with Google  
                </button>
                <button bnbutton class="GithubLogin" (click)="loginWithGitHub()">
                    <img src="../../assets/img/github.svg" height="25em" width="25em"> Sign in with Github
                </button>
                <br><br>
                <button bnButton [routerLink]="'/login'" class="login">Login</button>
                <button bnButton (click)="register()" class="registration">Registrieren</button>
            </nb-card-body>
          </nb-card>
    </nb-layout-column>
</nb-layout>