<nb-card [nbSpinner]="loading" nbSpinnerStatus="info" style="min-height: 400px">
  <nb-card-body>
    <div style="display: flex; align-items: center">
      <div style="font-weight: 600">Wettkampfübersicht</div>
      <button
        style="margin-left: auto"
        nbButton
        outline
        status="info"
        size="small"
        (click)="getData()"
      >
        <nb-icon icon="sync-outline"></nb-icon>
      </button>
    </div>
    <table style="width: 100%; margin-top: 1px">
      <tr>
        <th>Datum</th>
        <th>Average 3</th>
        <th>Analyse</th>
      </tr>
      <tr *ngFor="let competition of competitions">
        <td>{{ formatDate(competition.date) }}</td>
        <td>{{ averageThree(competition.solves) }}</td>
        <td style="text-align: center">
          <button
            nbButton
            outline
            status="info"
            size="tiny"
            (click)="openAnalytics(competition.id)"
          >
            <nb-icon icon="bar-chart-outline"></nb-icon>
          </button>
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
