nb-layout-column {
  background: linear-gradient(to bottom, #3e9de5, #944db7);
}
nb-card {
  background-color: #d3e1f5;
  border-radius: 10px;
}
tr,
td {
  border-bottom: 1px solid black;
  color: #707070;
}
.h1 {
  font-size: 1.5em;
}
.h2 {
  font-size: 1em;
  text-align: center;
}
