<nb-card>
  <nb-card-body>
    <div style="display: flex; align-items: center">
      <div style="font-weight: 600">Wettkampfübersicht</div>
      <button
        style="margin-left: auto"
        nbButton
        outline
        status="info"
        size="small"
        (click)="getData()"
      >
        <nb-icon icon="sync-outline"></nb-icon>
      </button>
    </div>
    <table style="width: 100%; margin-top: 1px">
      <tr>
        <th>Datum</th>
        <th>Average 3</th>
        <th>Analyse</th>
      </tr>
      <tr *ngFor="let competition of competitions">
        <td>datum</td>
        <td>test</td>
        <td>analyse</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
