<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <table style="width: 100%;">
          <tr>
            <th>Date</th>
            <th>Best</th>
            <th>Average</th>
          </tr>
          <tr *ngFor="let result of results" [nbPopover]="detailPopOver">
              <td>{{result[0]}}</td>
              <td>{{result[1]}}</td>
              <td>{{result[2]}}</td>
          </tr>  
          </table>
          <ng-template #detailPopOver>
              <div class="h2">3. Average</div>
              <div class="h1">00:29.34</div>
              <div class="h2">5. Average</div>
              <div class="h1">00:29.34</div>
              <div class="h2">Best</div>
              <div class="h1">00:29.34</div>
              <div class="h2">Worst</div>
              <div class="h1">00:29.34</div>
          </ng-template>
        </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
