<nb-layout>
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-body>
                <h2>Trainingsfortschritt</h2>
                <img src="../../assets/img/Trainingsfortschritt.png" />
                <p></p>
                <button nbButton class="overview">Übersicht</button>
                <button nbButton class="start">Training starten</button>
            </nb-card-body>
          </nb-card>
          <nb-card>
          <nb-card-body>
            <h2>Wettkampffortschritt</h2>
            <img src="../../assets/img/Wettkampffortschritt.png" />
            <p></p>
            <button nbButton class="overview">Übersicht</button>
            <button nbButton class="start">Wettkampf starten</button>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
</nb-layout>