<nb-layout>
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-body>
                <h2>Trainingsfortschritt</h2>
                <canvas id="Trainingchart" width="100em" height="100em"></canvas>
                <!--<img src="../../assets/img/Trainingsfortschritt.png" /> -->
                <p></p>
                <button bnButton [routerLink]="'/main/trainingoverview'" class="overview">Übersicht</button>
                <button bnButton [routerLink]="'/main/training'"class="start">Training starten</button>
            </nb-card-body>
          </nb-card>
          <nb-card>
          <nb-card-body>
            <h2>Wettkampffortschritt</h2>
            <img src="../../assets/img/Wettkampffortschritt.png" />
            <p></p>
            <button bnButton [routerLink]="'/main/competitionoverview'" class="overview">Übersicht</button>
            <button bnButton [routerLink]="'/main/competition'" class="start">Wettkampf starten</button>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
</nb-layout>