<nb-layout>
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-body>
                <h2>Trainingsfortschritt</h2>
                  <div style="display: block;">
                    <canvas baseChart width="400" height="250" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" [plugins]="lineChartPlugins">
                    </canvas>
                  </div>
                <button bnButton [routerLink]="'/trainingoverview'" class="overview">Übersicht</button>
                <button bnButton [routerLink]="'/training'"class="start">Training starten</button>
            </nb-card-body>
          </nb-card>
          <nb-card>
          <nb-card-body>
            <h2>Wettkampffortschritt</h2>
            <div style="display: block;">
              <canvas baseChart width="400" height="250" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>
            <button bnButton [routerLink]="'/competitionoverview'" class="overview">Übersicht</button>
            <button bnButton [routerLink]="'/competition'" class="start">Wettkampf starten</button>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
</nb-layout>