<nb-layout>
  <nb-layout-column class="colored-column-basic">
    <nb-card>
      <nb-card-header>
        <div style="text-align: center">Runde: {{ round }} / 5</div>
      </nb-card-header>
      <nb-card-body>
        <div>{{ scramble }}</div>
        <app-cube [scramble]="scramble"></app-cube>
        <div class="stopwatch pt-3">
          <h1 style="text-align: center">
            {{ time }}
          </h1>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button bnButton *ngIf="!running && competition" (click)="start()" shape="round" status="info" class="start"
          style="display: block; margin: auto">
          Start
        </button>
        <button bnButton *ngIf="running && competition" (click)="stop()" shape="round" status="info" class="start"
          style="display: block; margin: auto">
          Stop
        </button>
        <button bnButton *ngIf="!competition" shape="round" [routerLink]="'/main/analysis'" status="info" class="start"
          style="display: block; margin: auto">
          Auswertung
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>