<nb-card style="text-align: center">
  <nb-card-header>
    <div>Runde: {{ round }} / 5</div>
  </nb-card-header>
  <nb-card-body>
    <div style="font-weight: 600">{{ scramble }}</div>
    <app-cube [scramble]="scramble"></app-cube>
    <div class="stopwatch pt-3">
      <h1>
        {{ time }}
      </h1>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="competition">
      <button
        *ngIf="running && competition"
        nbButton
        outline
        size="small"
        status="danger"
        (click)="stop()"
      >
        Stop
      </button>
      <button
        *ngIf="!running && competition"
        nbButton
        outline
        size="small"
        status="success"
        (click)="start()"
      >
        Start
      </button>
    </div>
    <div
      *ngIf="!competition"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <button
        [nbSpinner]="saving"
        nbSpinnerStatus="success"
        nbButton
        outline
        size="small"
        status="success"
        (click)="saveCompetition()"
      >
        Speichern & Auswerten
      </button>
      <button
        style="margin-top: 10px"
        nbButton
        outline
        size="small"
        status="warning"
        (click)="resetCompetition()"
      >
        Nicht speichern & Wiederholen
      </button>
    </div>
  </nb-card-footer>
</nb-card>
