<nb-layout>
    <nb-layout-column class="colored-column-basic">
        <nb-card>
            <nb-card-header>
                <button nbButton shape="round" status="info" style="display: block; margin: auto;">Neuer
                    Scramble</button>
            </nb-card-header>
            <nb-card-body>
                <div class="stopwatch pt-3">
                    <h1 text-center class="color-white font-lg">
                        {{time}}
                    </h1>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton *ngIf="!running" (click)="start()" shape="round" status="info"
                    style="display: block; margin: auto;">Start</button>
                <button nbButton *ngIf="running" (click)="stop()" shape="round" status="info"
                    style="display: block; margin: auto;">Stop</button>
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>