td,
th {
  padding: 6px;
}

tr:nth-child(even) {
  background-color: #2a3450;
}

tr:nth-child(odd) {
  background-color: #323e63;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #222b45;
  color: white;
}
