<nb-card [nbSpinner]="loading" nbSpinnerStatus="info" style="min-height: 400px">
  <nb-card-body>
    <div style="display: flex; align-items: center">
      <div style="font-weight: 600">Trainingsübersicht</div>
      <button
        style="margin-left: auto"
        nbButton
        outline
        status="info"
        size="small"
        [routerLink]="'/training'"
      >
        <nb-icon icon="plus-outline"></nb-icon>
      </button>
      <button
        style="margin-left: 5px"
        nbButton
        outline
        status="info"
        size="small"
        (click)="getData()"
      >
        <nb-icon icon="sync-outline"></nb-icon>
      </button>
    </div>
    <table style="width: 100%; margin-top: 1px">
      <tr>
        <th>Datum</th>
        <th>Lösungszeit</th>
      </tr>
      <tr *ngFor="let solve of solves">
        <td>{{ formatDate(solve.date) }}</td>
        <td>{{ solve.timeElapsed }}</td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
